@import url('https://fonts.googleapis.com/css2?family=Chivo&family=Space+Grotesk&display=swap');


/* :root {
    --main-colour: ;
    --secondary-colout: ;
    --tertiary-colour: ;
} */

.page-container {
    width: 100%;
    height: 1vh;
    display: grid;
    grid-template-areas: 
    "header header"
    "skills projects";
    grid-template-rows: 100px auto;
    grid-template-columns:  1fr 7fr;
    background-color: #EAEBED;
}

.header {
    width: calc(100% -30px);
    grid-area: header;
    background-image: url("https://c1.peakpx.com/wallpaper/879/925/299/pasture-grass-herbage-field-nature-wallpaper.jpg");
    background-position: 55% 9%;
    color: #EEA243;
    font-size: 60px;
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    padding: 0 0 0 30px;
    border-top: solid 4px #0E7C7B;
}

.skills-container {
    grid-area: skills;
}

.projects-container {
    grid-area: projects;
    display: flex;
}

.list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding: 2px 2px;
    margin: 0;
    background-color: #12a3a1;
}

.project-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding: 0;
    margin: 0;
}

.list-item {
    padding: 10px;
    background-color: #0E7C7B;
    color: white;
    border-radius: 4px;
    margin: 1px 3px 1px 2px; 
}

@media (max-width: 500px) {

    .page-container {
        width: 100%;
        height: 1vh;
        display: grid;
        grid-template-areas: 
        "header"
        "skills"
        "projects";
        grid-template-rows: 100px auto auto;
        grid-template-columns:  1fr;
        background-color: #EAEBED;
    }

    .list {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .list-item {
        width: fit-content;
        display: inline;  
    }

    .skill-line {
        width: 0px;
        height:auto;
        border: none;
        background-color: #0E7C7B;
    }

}