@import url('https://fonts.googleapis.com/css2?family=Chivo&family=Space+Grotesk&display=swap');

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: #EAEBED;
}

.header-exp{
    width: calc(100% - 30px);
    height: 96px;
    background-image: url("https://c1.peakpx.com/wallpaper/879/925/299/pasture-grass-herbage-field-nature-wallpaper.jpg");
    background-position: 55% 9%;
    color: #EEA243;
    font-size: 60px;
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    padding: 0 0 0 30px;
    border-top: solid 4px #0E7C7B;
}


/* Card class created so that line-container class can inheirt the height of the card text element - enables line to change based on quantity of text and subsequent height without having to hard-code values. 

 */

.card {
  height: fit-content;
  width:auto;
  display: flex;
  flex-direction: column;
  margin: 10px 0 0 0;
}

.card-text {
  width: auto;
  height: fit-content;

  margin: 10px 0 0 0;

  background-color: #343633;
  color: white;

  border-radius: 20px 4px;

  display: flex;
  flex-direction: column;
}

li {
    font-family: 'Chivo', sans-serif;
}

.head {
  margin: 0;
  padding: 20px 32px;
  border-radius: 4px;
  background-color: #343633;
  color: #EEA243;

  font-family: 'Space Grotesk', sans-serif;  font-weight: 500;
  font-size: 24px;

  line-height: 32px;
}

/* Accounts for shift in header in card-text with addition of 'top dot' classes */

.non-initial {
  margin: -20px 0 0 0;
}

.main-text {
  margin: 0;
  padding: 8px 32px 32px 62px;

  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;

  line-height: 26px;
  letter-spacing: 0.015em;
}

/* Created a single dot class to prevent need to duplicate code */

.dot {
  width: 14px;
  height: 14px;

  border: 3px solid #0E7C7B;
  border-radius: 50%;

  background-color: #0E7C7B;

  position: relative;
}

/* Created posititions and additional styling for dots */

.bottom {
  position: relative;
  left: calc(100% - 63px);
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  
  border-top: 18px solid #0E7C7B;
}

.top {
  background-color: #0E7C7B;

  top: -20px;
  left: 40px;
}

/* Line container inherits grid height if grid is direct parent, so needs to be within card class (above).
*/

.line-container {
  display: flex;
  flex-direction: column;

}

.top-line {
  width: 33.5px;
  height: 33.5px;

  border-bottom: 3px solid #0E7C7B;
  border-left: 3px solid #0E7C7B;
  border-radius:0 0 0 33.5px;

  position: relative;
  top: -20px;
  left: 48.5px;


}

.bottom-line {
    width: calc(100% - 135px);
    height: 33.5px;
  
    border-top: 3px solid #0E7C7B;
    border-right: 3px solid #0E7C7B;
    border-radius: 0 33.5px 0 0;
  
    position: relative;
    left: 85px;
    margin: -22.5px 0 0 0 ;
  }

  .divider {
      width: 95%;
      height: 4px;
      background-color: #0E7C7B;
      align-self: center;
  }
