@import url('https://fonts.googleapis.com/css2?family=Chivo&family=Space+Grotesk&display=swap');

.outer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form {
    background-color: #0E7C7B;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    width: 80%;
    margin: 20px 40px;
}

input {
    width: 90%;
    height: 30px;
    margin: 15px;
    border-radius: 4px;
    border: 0;
    font-family: 'Chivo', sans-serif;
}

.submit {
    background-color: #EEA243;
    border-radius: 4px;
    color: white;
    font-family: 'Chivo', sans-serif;
}

.submit:hover {
    background-color: #EEA243;
    border-radius: 4px;
    color: black;
}

.message {
    width: 90%;
    height:60px;
    margin: 15px;
    border-radius: 4px;
    font-family: 'Chivo', sans-serif;
}

.thanks {
    color: #EEA243;
    align-self: center;
    font-family: 'Chivo', sans-serif;
}

.outer-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text {
    align-self: center;
    font-family: 'Chivo', sans-serif;
}

@media (max-width: 728px) {
    .thanks {

        align-self: center;
        margin: 10px 40px;
    }

    .text {
        align-self: center;
        margin: 15px 40px;
    }
}