@import url('https://fonts.googleapis.com/css2?family=Chivo&family=Space+Grotesk&display=swap');

.nav-container {
    background-color: #343633;
    padding: 0 20px 0 10px;
    display: flex;
    flex-flow: row;  
    justify-content: space-between;
}

.internal {
    padding: 0 0 0 5px;
    display: flex;
    list-style-type: none;
}

.external {
    padding: 16px 10px 0 0;
    display: flex;
    list-style-type: none;
}

.home-logo {
    width: 50px;
    height: 50px;
    margin: 0;
    position: relative;
    top: 18px;
}

button {
    border: 0;
    background-color: inherit;
    color: #0E7C7B;
    font-size: 20px;
    font-family: 'Space Grotesk', sans-serif;
}

button:hover {
    color: #EEA243;
}

.website-sections {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 5px;
}

@media (max-width: 302px) {

    .nav-container {
        background-color: #343633;
        padding: 0 20px;
        display: flex;
        flex-direction: row;
        margin: 0;

    }

    .internal {
        padding: 0;
        display: flex;
        list-style-type: none;
    }
    
    .external {
        padding: 12px 10px 0 0;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin: 0;
    }
    
    img {
        width: 30px;
        height: 30px;
    }

    .home-logo {
        padding: 0;
        width:35px;
        height: 35px;
        top: 12px;
    }

    button {
        font-size: 12px;
    }

    .website-sections {
        display: flex;
        flex-direction: column;
        margin: 0;
    }


}