@import url('https://fonts.googleapis.com/css2?family=Chivo&family=Space+Grotesk&display=swap');

.project-container {
    padding: 0;
    margin: 20px;
    width: calc(100% - 40px);
}

.head-container {
    display: flex;
    background-color: #343633;
    border-radius: 4px 4px 0 0;
}

.project-name {
    background-color: #343633;
    color: #EEA243;
    margin: 0;
    width: calc(100% - 68px);
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    border-radius: 0 4px 0 0;
    padding: 10px 10px;
}

.project-link {
    background-color: #343633;
    border: none;
    border-radius: 4px 0 0 0;
    height: 30px;
    width: 30px;
    margin: auto 3px;
}

.project-blurb {
    background-color: white;
    border-radius: 0 0 25px 4px;
    font-family: 'Chivo', sans-serif;
    margin: 0;
    padding: 10px 5px;
    display: flex; 
    grid-area: text;  
}

p {
     text-align: left;
}

.deployed {
    background-color: #0E7C7B;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    margin: 5px;
    padding: 5px 10px;
}